---
const { title, image, tags } = Astro.props;
---

<header
    class="articleHeader"
>
    <div
        class="articleHeader-content"
    >
        <h1 class="articleHeader-title" set:html={title} />
        <ul class="articleHeader-tags">
            <slot />
        </ul>
    </div>
    <img
        src={image}
        alt=""
        class="articleHeader-image"
    />
</header>
