---
import Icon from "../components/Icon.astro";
const { list, dark } = Astro.props;
---

<nav class="py-3 pl-0.5">
    <ul class="flex gap-4 flex-wrap">
        {
            list.map((item, index) => (
                <li class="flex  items-center gap-4">
                    {index > 0 ? (
                        <Icon name="arrow-right" class="size-3 text-emph-low" />
                    ) : (
                        ""
                    )}
                    <a
                        href={item.href}
                        class={
                            `text-sm ` + dark
                                ? `${index > 0 ? "text-white" : "text-accent-green-light underline"} hover:text-accent-green-light hover:underline active:text-accent-green`
                                : `${index > 0 ? "text-emph-medium" : "text-accent-green-dark underline"} hover:text-accent-green-dark hover:underline active:text-accent-green`
                        }
                    >
                        {item.label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
