---
import Icon from "../components/Icon.astro";
const { list, dark } = Astro.props;

let darkMode = dark === true ? true : false;
---

<nav aria-label="Хлебные крошки" class="breadcrumbs">
    <ul class="breadcrumbs-list">
        {
            list.map((item, index) => (
                <li class="breadcrumbs-item">
                    {index > 0 ? (
                        <Icon name="arrow-right" class="breadcrumbs-icon" />
                    ) : (
                        ""
                    )}
                    <a
                        href={item.href}
                        title={item.label}
                        class={`breadcrumbs-link ${
                            darkMode
                                ? `${index > 0 ? "breadcrumbs-link--dark" : "breadcrumbs-link--dark breadcrumbs-link--fist"}`
                                : `${index > 0 ? "" : "breadcrumbs-link--fist"} `
                        }`}
                    >
                        {item.label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
