---
const { href, class: extraClasses = "" } = Astro.props;
---

<a href={href} class={"cardPromo " + extraClasses}>
    <span class="cardPromo-label">Акция</span>
    <div>
        <h3 class="cardPromo-title"><slot name="title" /></h3>
        <p class="cardPromo-text"><slot name="text" /></p>
    </div>
</a>
