---
import Icon from "./Icon.astro";

const { href, linkText } = Astro.props;
---

<div class="cardOffer">
    <div class="cardOffer-iconWrapper">
        <Icon name="lead_convert" class="size-9 text-accent-green" />
    </div>
    <div>
        <p class="cardOffer-text"><slot /></p>
        <a href={href} set:html={linkText} class="cardOffer-link"></a>
    </div>
</div>
