---
import Icon from "./Icon.astro";

const {title, text, icon, iconColorClass} = Astro.props;
---

<div class="cardAdv">
    <Icon name={icon} class={"cardAdv-icon " + iconColorClass}></Icon>
    <h3 set:html={title} class="cardAdv-title"></h3>
    <p set:html={text} class="cardAdv-text"></p>
</div>
