---
import CardImageBlock from "./CardImageBlock.astro";

const {title, image, href} = Astro.props;
---

<article class="flex">
    <a href={href} class="cardEquip">
        <CardImageBlock image={image} border={true}></CardImageBlock>
        <h3 set:html={title} class="w-full text-base text-center mt-2"></h3>
    </a>
</article>
