---
const {buttonFill} = Astro.props;

const fill = buttonFill === true ? "flex-1" : "";
---

<div
    class="consultBlock"
>
    <h2
        class="consultBlock-title"
    >
        <slot></slot>
    </h2>
    <button
        class={"consultBlock-button " + fill}
        ><slot name="button"></slot></button
    >
</div>
