---
import Icon from "./Icon.astro";

const { dropped, id } = Astro.props;

const dataDropped = dropped === true ? { "data-dropped": "" } : "";
---

<div id={id} class="dropdownBlock">
    <div class="dropdownBlock-head">
        <div class="dropdownBlock-title" data-dropdownBlock-toggle data-targetId={id}>
            <slot name="head" />
        </div>
        <button data-dropdownBlock-toggle data-targetId={id} class="dropdownBlock-arrow">
            <Icon
                name="chevron-down"
                class="dropdownBlock-arrowIcon"
            />
        </button>
    </div>
    <div class="dropdownBlock-contentWrapper" {...dataDropped}>
        <slot name="content" />
    </div>
</div>
