---
const { slides } = Astro.props;
---

<div id="equipSlider" class="swiper equipSlider">
    <div class="swiper-wrapper">
        {
            slides.map((slide) => (
                <div class="swiper-slide">
                    <img
                        src={slide.image}
                        title={slide.title}
                        alt=""
                        class="equipSlider-image"
                    />
                </div>
            ))
        }
    </div>
    <div class="swiper-button-prev equipSlider-arrows"></div>
    <div class="swiper-button-next equipSlider-arrows"></div>
</div>
<div id="equipThumbSlider" class="swiper equipThumbSlider mt-4">
    <div class="swiper-wrapper">
        {
            slides.map((slide) => (
                <div class="swiper-slide">
                    <div class="equipThumbSlider-thumb">
                        <img
                            src={slide.image}
                            title={slide.title}
                            alt=""
                            class="equipThumbSlider-image"
                        />
                    </div>
                </div>
            ))
        }
    </div>
</div>

<script>
    const equipThumbSlider = new Swiper("#equipThumbSlider", {
        spaceBetween: 15,
        slidesPerView: 3,
        freeMode: true,
        watchSlidesProgress: true,
        watchSlidesVisibility: true,
        roundLengths: true,
        breakpoints: {
          640: {
            slidesPerView: 4,
          }
        }
    });
    const equipSlider = new Swiper("#equipSlider", {
        autoplay: true,
        thumbs: {
            swiper: equipThumbSlider,
            slideThumbActiveClass: "equipThumbSlider-thumb--active",
        },
        navigation: {
            prevEl: ".swiper-button-prev",
            nextEl: ".swiper-button-next",
        },
    });
</script>
