---
import Icon from "./Icon.astro";

const {icon, href=""} = Astro.props;
---

<div class="file">
    <Icon name={icon} class="file-icon"></Icon>
    <a href={href} class="file-link">
        <slot></slot>
    </a>
</div>
