---
import servicesMenu from "../data/servicesMenu.json";
---

<div class="w-full flex justify-center bg-surface-3">
    <div
        class="w-full lg:container px-4 xl:px-8 py-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8 xl:gap-12 2xl:gap-16"
    >
        {
            servicesMenu.map((group) => (
                <div class="flex flex-col gap-4">
                    <h6 class="text-emph-medium text-base/[150%] font-bold">
                        {group.title.label}
                    </h6>
                    <ul class="flex flex-col gap-4">
                        {group.list.map((item) => (
                            <li>
                                <a
                                    href="#"
                                    class="text-emph-medium text-base/[150%] hover:underline hover:text-accent-green-dark active:text-accent-green"
                                >
                                    {item.label}
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            ))
        }
    </div>
</div>
