---
const { title, date, datetime, href } = Astro.props;
---

<li class="newsList-item">
    <a href={href} class="newsList-link">
        <time datetime={datetime} set:html={date} class="newsList-date" />
        <span set:html={title} class="newsList-title" />
    </a>
</li>
