---
import Container from "../layouts/Container.astro";

const { stats, image } = Astro.props;
---

<section
    class="stats"
>
    <Container class="z-10">
        <slot />
        <div
            class="stats-row"
        >
            {
                stats.map((item) => (
                    <p class="stats-item">
                        <span
                            set:html={item.value}
                            class="stats-value"
                        />
                        <span
                            set:html={item.label}
                            class="stats-captions"
                        />
                    </p>
                ))
            }
        </div>
    </Container>
    {
        image ? (
            <img
                src={image}
                aria-hidden="true"
                alt=""
                class="absolute left-0 top-0 w-full h-full mix-blend-hard-light opacity-10 object-cover"
            />
        ) : (
            ""
        )
    }
</section>
