@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import "tailwindcss";

@theme {
    --default-font-family: "Nunito Sans", sans-serif;

    --color-accent-green: rgb(93, 189, 61);
    --color-accent-green-light: rgb(145, 221, 120);
    --color-accent-green-dark: rgb(65, 159, 34);
    --color-accent-blue: rgb(96, 106, 224);
    --color-accent-blue-light: rgb(136, 142, 223);
    --color-accent-blue-dark: rgb(64, 74, 205);
    --color-accent-red: rgb(222, 73, 99);
    --color-accent-red-light: rgb(225, 137, 153);
    --color-accent-red-dark: rgb(200, 40, 69);
    --color-emph-high: rgb(15, 23, 43);
    --color-emph-medium: rgb(49, 65, 88);
    --color-emph-low: rgb(144, 161, 185);
    --color-border: rgb(202, 213, 226);
    --color-surface-1: rgb(255, 255, 255);
    --color-surface-2: rgb(241, 245, 249);
    --color-surface-3: rgb(226, 232, 240);
    --color-surface-4: var(--color-slate-300);

    --spacing-topMenu: 3rem;

    --spacing-mainMenu-desktop: 6rem;
    --spacing-mainMenu: 3rem;
    --spacing-mainMenu-nav: calc(100dvh - var(--spacing-mainMenu));
    --spacing-mainMenu-nav-desktop: calc(
        100dvh - var(--spacing-mainMenu-desktop)
    );

    --radius-generic: 0.75rem;

    --text-h1: 3rem;
    --text-h2: 2.5rem;
    --text-h3: 2.25rem;
    --text-h4: 1.88rem;
    --text-h5: 1.5rem;
    --text-h6: 1.25rem;
    --text-paragraph-large: 1.13rem;
    --text-paragraph: 1rem;
    --text-paragraph-small: 0.88rem;
    --text-caption: 0.75rem;

    --leading-h1: 100%;
    --leading-h2: 100%;
    --leading-h3: 110%;
    --leading-h4: 120%;
    --leading-h5: 130%;
    --leading-h6: 140%;
    --leading-paragraph-large: 160%;
    --leading-paragraph: 150%;
    --leading-paragraph-small: 142.86%;
    --leading-caption: 133.33%;

    --font-weight-h1: 800;
    --font-weight-h2: 700;
    --font-weight-h3: 700;
    --font-weight-h4: 700;
    --font-weight-h5: 700;
    --font-weight-h6: 700;
}

.h1 {
    @apply text-[calc(var(--text-h1)*0.6)] sm:text-h1 leading-h1 font-extrabold mt-[1em] mb-[0.5em];
}
.h2 {
    @apply text-[calc(var(--text-h2)*0.6)] sm:text-h2 leading-h2 font-bold mt-[1em] mb-[0.5em] uppercase;
}
.h3 {
    @apply text-[calc(var(--text-h3)*0.6)] sm:text-h3 leading-h3 font-bold mt-[1em] mb-[0.5em] uppercase;
}
.h4 {
    @apply text-[calc(var(--text-h4)*0.6)] sm:text-h4 leading-h4 font-extrabold sm:font-bold mt-[1em] mb-[0.5em] uppercase;
}
.h5 {
    @apply text-[calc(var(--text-h5)*0.7)] sm:text-h5 leading-h5 font-extrabold sm:font-bold mt-[1em] mb-[0.5em] uppercase;
}
.h6 {
    @apply text-[calc(var(--text-h6)*0.75)] sm:text-h6 leading-h6 font-extrabold sm:font-bold mt-[1em] mb-[0.5em] uppercase;
}
.paragraph {
    @apply text-paragraph leading-paragraph mt-[1em] mb-[1em];
}
.paragraph-large {
    @apply text-paragraph-large leading-paragraph-large mt-[1em] mb-[1em];
}
.paragraph-small {
    @apply text-paragraph-small leading-paragraph-small mt-[1em] mb-[1em];
}
.caption {
    @apply text-caption leading-caption my-[1em];
}
.link {
    @apply text-accent-green-dark hover:text-accent-green active:text-accent-green-light underline;
}
.hr {
    @apply border-surface-4;
}

.m-h1,
.m-h2,
.m-h3,
.m-h4,
.m-h5,
.m-h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.m-paragraph,
.m-paragraph-large,
.m-paragraph-small {
    margin-top: 1em;
    margin-bottom: 1em;
}

.table {
    table-layout: fixed;
}

.table td {
    padding: 0.75rem 0.25rem 0.75rem 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    word-wrap: break-word;
}
.table td:first-child {
    padding-left: 0;
}
.table td:last-child {
    padding-right: 0;
}

.table thead td {
    color: var(--color-emph-medium);
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
}

.table tr {
    border-bottom: 0.0625rem solid var(--color-surface-4);
}

ul.list,
ol.list {
    @apply text-base/[150%];
}

ul.list li,
ol.list li {
    @apply py-2 flex border-surface-4;
}
ul.list:not(.list--noBorder) li,
ol.list:not(.list--noBorder) li {
    @apply border-b;
}

ol.list {
    list-style: decimal;
    list-style-position: inside;
    counter-reset: ol-counter;
}
ol.list li {
    counter-increment: ol-counter;
}
ol.list li::before {
    content: counter(ol-counter) ".";
    margin-right: 0.5rem;
    color: var(--color-accent-green-dark);
    font-size: 1rem;
    line-height: 150%;
    font-weight: 700;
}

ul.list {
    list-style: disc;
    list-style-position: inside;
}
ul.list li::before {
    content: "•";
    margin-top: -0.09375rem;
    margin-right: 0.5rem;
    color: var(--color-accent-green-dark);
    font-size: 1rem;
    line-height: 150%;
    font-weight: 700;
}

/* EquipSlider.astro */
.equipSlider {
    @apply border border-surface-4 rounded-generic;
}
.equipSlider-image {
    @apply w-full aspect-[4/3] max-h-[44.0625rem] object-cover;
}
.equipSlider-arrows {
    @apply hidden;
}
.equipSlider:hover .equipSlider-arrows {
    @apply lg:block;
}
.equipSlider-arrows:hover::after {
    @apply text-accent-green-dark;
}
.equipSlider-arrows:active::after {
    @apply text-accent-green;
}
.equipSlider-arrows::after {
    /*color: var(--color-emph-medium);*/
    @apply text-emph-medium;
}

.equipThumbSlider-image {
    @apply w-full aspect-[4/3] border border-surface-4 rounded-generic;
}
equipThumbSlider-thumb {
    @apply pr-[1px];
}
.equipThumbSlider-thumb--active .equipThumbSlider-image {
    /*border-color: var(--color-accent-green) !important;*/
    @apply border-2 border-accent-green!;
}

/* LogoCarousel.astro */
.sliderPagination {
    @apply static flex justify-center items-center gap-2 sm:gap-3 lg:gap-4 py-6 px-4;
}
.sliderPagination--lock {
    @apply hidden;
}
.sliderPagination-bullet {
    @apply inline-block size-2 sm:size-3 lg:size-4 border-2 border-accent-green rounded-xs;
}
.sliderPagination-bullet--active {
    @apply bg-accent-green;
}

/* CardImageBlock.astro */
.cardImageBlock {
    @apply w-full relative bg-surface-3 overflow-hidden flex flex-col justify-end;
}
.cardImageBlock-content {
    @apply @container/infoBlock relative left-0 bottom-0 z-10 flex flex-col items-start gap-3 w-full p-2;
}
.cardImageBlock-date {
    @apply inline-block bg-white px-2 py-1.5 rounded-full text-sm/[100%] text-emph-medium font-semibold;
}
.cardImageBlock-tagList {
    @apply flex flex-wrap gap-x-2 pl-0.5;
}
.cardImageBlock-tag {
    @apply text-white text-sm/[135%] @min-[320px]:text-base/[100%] font-semibold;
}
.cardImageBlock-tag--separator--slash {
    @apply not-first:before:content-['/'] not-first:before:mr-2 before:opacity-70;
}
.cardImageBlock-tag--separator--comma {
    @apply not-last:after:content-[','] before:opacity-70;
}
.cardImageBlock-tag--darker {
    @apply text-white/80!;
}
.cardImageBlock-tagLink {
    @apply underline hover:text-accent-green-light active:text-accent-green;
}
.cardImageBlock-image {
    @apply w-full h-full absolute left-0 top-0 object-cover;
}
