---
import Container from "./Container.astro";
---

<div
    class="w-full flex flex-col items-center bg-surface-1 border border-surface-4"
>
    <Container class="py-8">
        <slot />
    </Container>
</div>
